/* Color Scheme
 * text: #000000
 * #AAFAC8
 * #C7FFED
 * #BBC8CA
 * #B592A0
 * #9C7178
 */

/* Fonts
 * JetsBrain Mono
 * Merriweather
 * Sans serif
 */

:root {
    --black: #000000;
    --white: #FFFFFF;
    --aquamarine: #99E9B7;
    --celeste: #EBFFF9;
    --silver: #CCD9DB;
    --lightpink: lightpink; 
    --darkpink: #876369; 
}

body {
    font-family: "Lato Extended", Helvetica, sans-serif;
    background-color: var(--celeste);
}


/* Header */
#main-header {
    background-color: var(--lightpink);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    height: 60%;
    width: 20%;
}

#main-header a {
    color: var(--black);
    text-decoration: none;
}

#logo {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    height: 120px;
}

#navbar ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 0;
    padding: 0;
}

#navbar a {
    font-size: 16pt;
    padding: 1em;
    display: block;
}

#navbar a:hover {
    color: var(--darkpink);
    text-decoration: underline;
}

/* Main content */
#main-content {
    width: 80%;
    position: absolute;
    right: 0;
}

#main-content.projects {
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: var(--silver);
    padding: 15px;
    margin: 10px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.box .half {
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box .half.text {
    align-items: initial;
}

.box .responsive-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.box.project {
    flex-direction: column-reverse;
    flex: 1 1 40%;
}

.box.project > .text {
    flex: 1 1 50%;
    padding: 5px;
}

.box.project > .img {
    flex: 1 1 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-body {
    background-color: inherit;
}

#home-body .responsive-img {
    max-width: 1000px;
}

#resume.box {
    background-color: inherit;

    padding: inherit;
    margin: inherit;
    border-radius: inherit;

    display: flex;
    flex-direction: row-reverse;
}

#resume.box .half {
    background-color: var(--silver);
    padding: 25px;
    margin: 10px;
    border-radius: 25px;

    height: auto;
}

#resume.box .half.text h2 {
    text-align: center;
}

#resume .responsive-img {
    max-width: 600px;
    height: auto;
}

#service-tsos {
    display: flex;
    flex-direction: column-reverse;
}

/* Footer */
#main-footer {
    background-color: var(--lightpink);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;

    height: 40%;
    width: 20%;

    display: flex;
    align-items: center;
}

#main-footer ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
    margin: 0;
    padding: 0;
}

#main-footer li {
    display: block;
    flex: 1 1 50%;
    text-align: center;
}

#main-footer a {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}

#main-footer a:hover {
    color: var(--darkpink);
    text-decoration: underline;
}


#main-footer img {
    filter: invert(1);
}

#toggle-style {
    cursor: pointer;
    display: block;

    color: var(--black);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

#toggle-style:hover {
    color: var(--darkpink);
    text-decoration: underline;
}
