/* Color Scheme
 * text: #000000
 * #AAFAC8
 * #C7FFED
 * #BBC8CA
 * #B592A0
 * #9C7178
 */

/* Fonts
 * JetsBrain Mono
 * Merriweather
 * Sans serif
 */

:root {
    --black: #000000;
    --white: #FFFFFF;
    --aquamarine: #AAFAC8;
    --celeste: #C7FFED;
    --silver: #BBC8CA;
    --rosequartz: #B592A0;
    --darkpink: #9C7178;
}

body {
    font-family: "Lato Extended", Helvetica, sans-serif;
}


/* Header */
#main-header {
    background-color: var(--rosequartz);
}

